<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Study Assistant Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div id="chatbox-container">
        <div id="chatbox">
            <div id="chat-log"></div>
        </div>
        <input type="text" id="user_input" placeholder="Type a message..." />
        <button id="send_btn" onclick="sendMessage()">Send</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
